body.login
  @apply bg-dark flex flex-col justify-center items-center w-full h-svh

#login
  @apply max-w-sm w-full p-0
  #login_error
    color: #000
  .message
    color: #000
  h1
    a
      width: 153px
      height: 23px
      background-size: 153px 23px
      margin-bottom: 30px
      &:focus
        box-shadow: none

  form
    @apply shadow-none border-dark bg-dark mt-0 p-4
    label
      @apply font-neueMachina uppercase text-xs text-light mb-2
    input#user_pass,
    input#user_login
      @apply rounded-md w-full py-3 px-3 font-neueMachina text-dark text-base outline-none border-none
      &:focus-visible
        @apply outline-red
    input[type="submit"]
      @apply inline-block font-monumentExtend font-bold text-sm text-red border border-red uppercase py-3 px-6 transition-all duration-300 ease-in-out hover:bg-red hover:text-dark bg-transparent rounded-3xl

  #backtoblog, #nav
    @apply font-neueMachina text-center
    a
       @apply font-neueMachina text-gray-400

  input:-webkit-autofill
    -webkit-box-shadow: 0 0 0 30px white inset
    -webkit-text-fill-color: #000 !important

.wpml-login-ls
  form#wpml-login-ls-form
    select#wpml-language-switcher-locales
      @apply rounded-none border border-solid uppercase text-xs font-neueMachina transition-all duration-300 ease-in hover:bg-white
    input.button
      @apply rounded-none border border-solid uppercase text-xs font-neueMachina px-4 py-1 transition-all duration-300 ease-in hover:bg-white