.active
  cursor: pointer

.cursor
  display: none

.font-outline
  -webkit-text-stroke-width: 1.51px
  -webkit-text-stroke-color: #F2F2F2

.prevent-select
  -webkit-user-select: none
  -ms-user-select: none
  user-select: none


.triangles
  @apply inline-block mx-auto
  span
    @apply border-t-[12px] border-r-[14px] border-b-[14px] border-l-[14px] xl:border-t-[16px] xl:border-r-[18px] xl:border-b-[18px] xl:border-l-[18px] border-t-red border-l-transparent border-r-transparent border-b-transparent block bg-transparent w-0 h-0 -mb-[10px] animate-bounce
    animation-duration: 1.4s