.section-hero
  &--right-wrapper
    &::before
      content:''
      background-image: url('../../assets/images/bg-squares.png')
      @apply bg-cover bg-no-repeat bg-center block w-full h-full absolute left-0 top-0 bg-fixed
  &--vertical-note
      @apply font-neueMachina font-light text-xs uppercase text-light max-w-72 text-right rotate-180 absolute top-8 left-4
      text-orientation: mixed
      writing-mode: vertical-rl
  &--fixed-numbers
      @apply font-neueMachina text-[8px] xl:text-lg text-light tracking-[1.62px] fixed w-full lg:w-2/3 h-2/3 left-0 right-0 bottom-0 px-2 xl:px-6 flex flex-col justify-between prevent-select transition-all duration-300 ease-in-out py-20
      z-index: -1
  &--title
    @apply font-monumentExtend font-extralight text-light text-[27px] leading-6 md:text-[48px] md:leading-[45px] lg:text-[82px] lg:leading-[76px] uppercase
    span
      @apply font-black

.section-hero--right-wrapper.header-shrink
  @apply pt-[168px]



.section-the-collection
  &:hover
    .btn--vertical
      &:after
        @apply right-0 text-red
    figure
      img
        @apply translate-x-0 opacity-100

.section-the-story
  &:hover
    .btn--vertical
      &::after
        @apply right-0 text-light
    figure
      img
        @apply translate-x-0 opacity-100


@keyframes shopbtn-text-slide
  from
    transform: translateY(0)
  to
    transform: translateY(100%)

.shop-btn-slider
  .text-slide
    display: inline-block
    animation: 20s shopbtn-text-slide infinite linear
  &:hover
    .text-slide
       animation-play-state: paused

.text-slider

  //text-orientation: mixed
  //writing-mode: vertical-rl
  //animation: 20s shopbtn-text-slide infinite linear